Repository cse110-sp25-group27/cse110-sp25-group27, pull requests merged in 2025-06, with the labels that each got.

#108 Error page
  404.html
  README.md
  docs/diagram.drawio.png
  frontend/assets/error_background.png
  frontend/assets/oops_title.png
  frontend/assets/sad_power_ranger.png
  frontend/styles/404_page.css
Labels: frontend

#109 Error page
  404.html
  frontend/styles/404_page.css
Labels: frontend

#122 Fix error
  404.html
  frontend/styles/404_page.css
Labels: frontend

#123 update the files to redirect when showing an error
  404.html
  frontend/styles/404_page.css
Labels: frontend

#124 Errorpage
  404.css
  404.html
Labels: frontend

#130 onboarding page redirects to landing page if there is at least 1 review
  frontend/scripts/onboarding.js
Labels: bug, frontend

#133 fix button toggle
  frontend/assets/landing_imgs/save_changes_btn.png
  frontend/assets/landing_imgs/submit_review_btn.png
  frontend/components/template.html
  frontend/pages/landing_page.html
  frontend/scripts/main.js
  frontend/sripts/main.js
  frontend/styles/landing_page.css
Labels: bug

#140 deleted unused duplicate main.js file + fix project link
  README.md
  frontend/sripts/main.js
Labels: documentation

#146 changed the poster size that was very small
  backend/reviewCard.js
  backend/reviewCardFront.js
  frontend/scripts/main.js
Labels: bug, frontend

#155 Compressed all landing page pngs
  frontend/assets/landing_imgs/0_star.png
  frontend/assets/landing_imgs/1_star.png
  frontend/assets/landing_imgs/2_star.png
  frontend/assets/landing_imgs/3_star.png
  frontend/assets/landing_imgs/4_star.png
  frontend/assets/landing_imgs/5_star.png
  frontend/assets/landing_imgs/add_review_btn.png
  frontend/assets/landing_imgs/blank_star.png
  frontend/assets/landing_imgs/boxoffice_banner.png
  frontend/assets/landing_imgs/cancel_review_btn.png
  frontend/assets/landing_imgs/gold_left_arrow.png
  frontend/assets/landing_imgs/gold_right_arrow.png
  frontend/assets/landing_imgs/gold_star.png
  frontend/assets/landing_imgs/save_changes_btn.png
  frontend/assets/landing_imgs/submit_review_btn.png
  frontend/assets/landing_imgs/ticket.png
  frontend/assets/landing_imgs/ticket_booth.png
Labels: frontend

#159 Updated meeting notes and repo
  admin/meetings/june_6.md
  admin/meetings/june_7.md
  frontend/components/back_module.html
  frontend/components/front_module.html
Labels: documentation
